@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Address Bud!</h1>
    <p>Login</p>
    <p>Username palceholder</p>
    <p>Password placeholder</p>
</div>
